<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">{{demanda.peca.titulo}}</h4>
            <button type="button" class="btn-close"data-bs-toggle="modal" data-bs-target="#task-detail-modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title text-success">Descrição da Entrega</h5>
                    <p class="card-text">{{demanda.descricao_entrega|safe}}</p>
                </div> <!-- end card-body-->
                
            </div> 

            <div class="card border-secondary border">
                <div class="card-body">
                    <h5 class="card-title text-success">Arquivos Anexados</h5>
                    {% if demanda.arquivos_demandas %}
                    <div class="row">
                        {% for arquivo in demanda.arquivos_demandas %}
                        <div class="col-12">
                            <div class="mb-3">
                                <a style="width: 100%;" href="{{arquivo.rota}}" class="btn btn-soft-secondary">
                                    <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                    
                        
                        
                        
                    {% else %}
                        <p class="card-text">Nenhum arquivo anexado  </p>
            {% endif %}

                </div> <!-- end card-body-->
                
            </div> 
            {% if perfil.cargo < 3 %}
            <div class="row">

                <div class="col-6">
                    <div class="mb-3">
                        <button  {% if demanda.status != 4 %} disabled {% endif %} style="width: 100%;" type="button" onclick="revisaoDemanda('{{demanda.id}}')" class="btn btn-warning"><i class="ri-draft-line me-1"></i> <span>Solicitar Revisão</span> </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        {% if demanda.designante_id == request.user.id and perfil.und != 5 and demanda.status < 5 %}
                        <button style="width: 100%;" type="button" onclick="acaoDemanda('{{demanda.id}}','5')" class="btn btn-success"><i class="ri-check-double-line me-1"></i> <span>Enviar P/ Gerência</span> </button>
                        {% else %}
                            {% if demanda.status == 5 and demanda.designante_id != request.user.id %}
                            <button  style="width: 100%;" type="button" onclick="acaoDemanda('{{demanda.id}}','6')" class="btn btn-success"><i class="ri-check-double-line me-1"></i> <span>Enviar P/ Solicitante</span> </button>
                            {% else %}
                            <button {% if demanda.status != 4 %} disabled {% endif %} style="width: 100%;" type="button" onclick="GerenteDemanda()" class="btn btn-success"><i class="ri-check-double-line me-1"></i> <span>Enviar P/ Gerência</span> </button>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div class="col-12" id="envia_gerente" style="display: none;">
                            <div class="mb-3">
                                <label for="solicitacaotext" class="form-label">Informe o Gerente:</label>
                                <select id="select2_gerente" class="js-example-basic-single" name="select2_gerente">
                                    {%  %}               
                                    <option value="1">Normal</option>
                          
                               
                              </select>
                             
                                <button onclick="acaoDemanda('{{demanda.id}}','5')" style="width: 100%;" type="button" class="btn btn-soft-success rounded-pill mt-2"> <i class="ri-corner-up-left-fill"></i> Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <div class="col-12" id="motivo_revisao" style="display: none;">
                            <div class="mb-3">
                                <label for="solicitacaotext" class="form-label">Informe o Motivo da Revisão:</label>
                                <textarea class="summernote"  id="motivo_revisao_text" name="motivo_revisao_text"></textarea>
                                <button onclick="acaoDemanda('{{demanda.id}}','5')" style="width: 100%;" type="button" class="btn btn-soft-danger rounded-pill mt-2"> <i class="ri-corner-up-left-fill"></i> Solicitar Revisão</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
$(document).ready(function() {
    $("#select2_gerente").select2({
    dropdownParent: $("#bs-example-modal-lg")
  });
});
function acaoDemanda(demandaID,status){
    var XCSRFToken = '{{ csrf_token }}';
    var motivo = document.getElementById('motivo_revisao_text').value;
    

    if (status == '3') {
        if(motivo == ""){
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Por favor, informe o motivo da revisão!',

        });

    }else{
        Swal.fire({
        title: 'Revisar Demanda',
        text: 'Deseja realmente solicitar a revisão desta demanda?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/acoes-demanda";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'demandaID':demandaID,'motivo':motivo,'status':status},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda em Revisão!',
                        text: "A demanda foi enviada para o usuário revisar!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
        })
        }
    }

    if (status == '5') {

        Swal.fire({
        title: 'Enviar para Gerência',
        text: 'Deseja realmente enviar esta demanda para aprovação da gerência?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/acoes-demanda";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'demandaID':demandaID,'motivo':'','status':status},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda Enviada!',
                        text: "A demanda foi para a gerência com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
    

    }
    
    if (status == '6') {

        Swal.fire({
        title: 'Enviar P/ Solicitante',
        text: 'Deseja realmente entregar para o solicitante?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
        }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/acoes-demanda";

        
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'demandaID':demandaID,'motivo':'','status':status},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Entrega Realizada!',
                        text: "A demanda foi entregue com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                        
                        
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
        });


        }


    if (status == '1') {
        console.log(status)
        Swal.fire({
        title: 'Reabrir Demanda',
        text: 'Deseja realmente reabrir esta demanda?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
        }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/acoes-demanda";

        
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'demandaID':demandaID,'motivo':'','status':status},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda Reaberta!',
                        text: "A demanda foi reaberta com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                        
                        
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
        });


        }

    }

function revisaoDemanda(){
    var elemento = document.getElementById("motivo_revisao");
    elemento.style.display = 'block';
}

function GerenteDemanda(){
    var elemento = document.getElementById("envia_gerente");
    elemento.style.display = 'block';
}



$('.summernote').summernote(
    {
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['para', ['ul', 'ol']],

    // Outras opções de toolbar que você deseja incluir, mas sem 'link'
  ],
  // Outras configurações necessárias para o seu uso
}
  );
</script>