{% load static %}
{% for peca in pecas %}
    {% for demanda in peca.demandas_relacionadas.all %}
        <tr>
            <td class="table-user">
                <img src="{% static 'layouts/assets/images/users/avatar-6.jpg' %}" alt="table-user" class="me-2 rounded-circle" />
                {{ demanda.designante.first_name }}
            </td>
            <td>17/11/2023</td>
            <td>{{ peca.titulo }} </td>
            
            {% if demanda.status == 1 %}
                <td><span class="badge badge-outline-warning rounded-pill">{{demanda.get_status_display}}</span></td>
                {% elif demanda.status == 2 %}
                <td><span class="badge badge-outline-info rounded-pill">{{demanda.get_status_display}}</span></td>
                {% elif demanda.status == 3 %}
                <td><span class="badge badge-outline-danger rounded-pill">{{demanda.get_status_display}}</span></td>
                {% elif demanda.status == 4 %}
                <td><span class="badge badge-outline-primary rounded-pill">{{demanda.get_status_display}}</span></td>
                {% elif demanda.status == 5 or demanda.status == 6 %}
                <td><span class="badge badge-outline-success rounded-pill">{{demanda.get_status_display}}</span></td>
                {% endif %}

            <td>
                <button style="width: 100%;" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#bs-example-modal-lg">
                    <i class="ri-eye-line me-1"></i> <span>Visualizar</span>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endfor %}