{% load static %}
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="TaskDetailModalLabel">{{solicitacao.titulo}} {% if solicitacao.prioridade == 1 %}<span class="badge bg-primary ms-2">{{solicitacao.get_prioridade_display}}</span>{% else %}<span class="badge bg-warning ms-2">{{solicitacao.get_prioridade_display}}</span>{% endif %}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="p-2">
              
                <div class="row" >
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Data de Criação</h5>
                            <span>{{solicitacao.data_solicitacao|date:"d/m/Y"}} <small class="text-muted">{{solicitacao.data_solicitacao|date:"H:i:s"}}</small></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h5>Prazo de Entrega</h5>
                            <span>{{solicitacao.prazo_entrega|date:"d/m/Y"}}</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-4" id="tooltip-container">
                            <h5>Solicitante:</h5>
                            <div class="avatar-group mt-1">
                                <a href="javascript: void(0);" class="avatar-group-item">
                                    <img src="{% static 'layouts/assets/images/users/avatar-1.jpg' %}" alt=""
                                        class="rounded-circle avatar-xs">
                                </a> <span style="padding: 5px 5px;">{{solicitacao.autor.first_name}}</span>
                              
                            </div>
                        </div>
                    </div>
                </div>
          

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                           
                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                <li class="nav-item">
                                    <a href="#home1" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                                        Job
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#profile1" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 ">
                                        Adicionar Peças
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings1" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                        Tarefas Designadas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#solicitacao" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                        Dados da Solicitação
                                    </a>
                                </li>
                                
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane show active" id="home1">
                                    <span>{{solicitacao.briefing|safe}}</span>

                                {% for peca in solicitacao.pecas %}
                       
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{forloop.counter}}"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                   {{peca.titulo}}  <span {% if peca.demanda_relacionada.status == 1 %} class="badge badge-outline-warning rounded-pill" {% elif peca.demanda_relacionada.status == 2 %} class="badge badge-outline-info rounded-pill" {% elif peca.demanda_relacionada.status == 3 %} class="badge badge-outline-danger rounded-pill" {% elif peca.demanda_relacionada.status == 4 %} class="badge badge-outline-warning rounded-pill" {% elif peca.demanda_relacionada.status == 5 %} class="badge badge-outline-success rounded-pill" {% endif %} >{{peca.demanda_relacionada.get_status_display}}</span>
                                                </button>
                                            </h2>
                                            <div id="collapseOne{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                        {% if peca.demanda_relacionada.status == 3 %}
                                                        <div class="alert alert-danger" role="alert">
                                                           <span>{{ peca.demanda_relacionada.devolutiva|striptags|safe }}
                                                        </span>
                                                        </div>
                                                        {% endif %}
                                                    {% if peca.demanda_relacionada.status != 5 and peca.demanda_relacionada.status != 4 %}
                                                    <form id="formRealizaEntrega_{{forloop.counter}}"  method="POST" enctype="multipart/form-data">
                                                    <div class="row d-flex align-items-center justify-content-center">
                                                   
                                                        <div class="col-12 col-sm-12 col-md-12" style="text-align: center;">
                                                            <label for="files{{forloop.counter}}" class="btn btn-primary">
                                                                <i class="ri-file-fill"></i> ESCOLHER ARQUIVOS
                                                            </label>
                                                        </div>
                                                       
                                                        
                                                            <input style="width: 100%;" type="file" name="files{{forloop.counter}}" id="files{{forloop.counter}}" class="d-none" multiple onchange="showSelectedFilesDinamic('{{forloop.counter}}')">
                                                            <div  class="row mt-2" id="fileDisplay{{forloop.counter}}"></div>
                                                  
                                                    </div>
                                                    <textarea class="summernote"  id="summernote" name="editordata"></textarea>
                                                    <hr>
                                                    <button onclick="concluirDemanda('{{peca.demanda_relacionada.id}}','formRealizaEntrega_{{forloop.counter}}','files{{forloop.counter}}')" style="width: 100%;" type="button" class="btn btn-success"><i class="ri-checkbox-circle-line me-1"></i> <span> Concluir Demanda</span> </button>
                                                    </form>
                                                    {% else %}
                                                        <span>{{peca.demanda_relacionada.descricao_entrega|safe}}</span>
                                                        {% if peca.arquivos_relacionados %}
       
                                                                {% for arquivo in peca.arquivos_relacionados %}
                                                                <a href="{{arquivo.rota}}" class="btn btn-dark rounded-pill">
                                                                    <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                                                  </a>
                                                                 
                                                                {% endfor %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                             
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane " id="profile1">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="mb-3">
                                            
                                                <input placeholder="Digite o nome da peça:" type="text" id="cadpecas" name="cadpecas" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="mb-3">
                                                <button style="width: 100%;" type="button" onclick="cadastrarPeca('{{solicitacao.id}}')" class="btn btn-warning"><i class="ri-add-circle-line me-1"></i> <span>Cadastrar</span> </button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="table-responsive-sm">
                                                <table class="table table-centered mb-0">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Peça</th>
                                                     
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_pecas">
                                                        {% for peca in solicitacao.todas_pecas %}
                                                        <tr>
                                                            <td>{{peca.id}}</td>
                                                            <td>{{peca.titulo}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings1">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="mb-3">
                                                
                                                <select id="select2_peca_design" class="js-example-basic-single" name="peca">
                                                    {% for peca in solicitacao.todas_pecas  %}
                                                        {% if peca.titulo != "Designar Demandas" %}
                                                        <option value="{{peca.id}}">{{peca.titulo}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                  </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="mb-3">
                                                
                                                <select id="select2_usuario" class="js-example-basic-single" name="select2_usuario">
                                                    {% for usuario in solicitacao.usuarios %}
                                                        <option value="{{usuario.id}}">{{usuario.first_name}}</option>
                                                    {% endfor %}
                                                  </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="mb-3">
                                                
                                                <select id="select2_prioridade" class="js-example-basic-single" name="prioridade">
                                                   
                                                        <option value="1">Normal</option>
                                                        <option value="2">Urgente</option>
                                                   
                                                  </select>
                                               
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <button onclick="designarPessoa('{{solicitacao.id}}')" style="width: 100%;" type="button" class="btn btn-warning"><i class="ri-user-follow-fill me-1"></i> <span>Designar</span> </button>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="mb-3">
                                                <div class="table-responsive-sm">
                                                    <table class="table table-centered mb-0" style="font-size: 12px;">
                                                        <thead>
                                                            <tr>
                                                                <th>Usuário Designado</th>
                                                                <th>Data de Designação</th>
                                                                <th>Peça</th>
                                                                <th>Status</th>
                                                                <th>Ação</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbl_designacoes" >
                                                            {% for peca in solicitacao.todas_pecas %}
                                                                {% for demanda in peca.demandas_relacionadas.all %}
                                                                    <tr>
                                                                        <td class="table-user">
                                                                            <img src="{% static 'layouts/assets/images/users/avatar-6.jpg' %}" alt="table-user" class="me-2 rounded-circle" />
                                                                            {{ demanda.designante.first_name }}
                                                                        </td>
                                                                        <td>17/11/2023</td>
                                                                        <td>{{ peca.titulo }} </td>
                                                                       
                                                                        {% if demanda.status == 1 %}
                                                                            <td><span class="badge badge-outline-warning rounded-pill">{{demanda.get_status_display}}</span></td>
                                                                            {% elif demanda.status == 2 %}
                                                                            <td><span class="badge badge-outline-info rounded-pill">{{demanda.get_status_display}}</span></td>
                                                                            {% elif demanda.status == 3 %}
                                                                            <td><span class="badge badge-outline-danger rounded-pill">{{demanda.get_status_display}}</span></td>
                                                                            {% elif demanda.status == 4 %}
                                                                            <td><span class="badge badge-outline-primary rounded-pill">{{demanda.get_status_display}}</span></td>
                                                                            {% elif demanda.status == 5 %}
                                                                            <td><span class="badge badge-outline-success rounded-pill">{{demanda.get_status_display}}</span></td>
                                                                            {% endif %}
                                                     
                                                                        <td>
                                                                            <button style="width: 100%;" type="button" class="btn btn-info" onclick="modalTaskShow('{{ demanda.id }}')">
                                                                                <i class="ri-eye-line me-1"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="tab-pane " id="solicitacao">
                                    <div class="row">
                                        <div class="col-6 mb-2">
                                            <label for="prazo_entrega" class="form-label">Prazo de Entrega</label>
                                            <input class="form-control" value="{{solicitacao.prazo_entrega|date:'Y-d-m'}}" id="prazo_entrega_edit" type="date" name="prazo_entrega_edit">
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label for="prioridade" class="form-label">Prioridade</label>
                                            <select class="form-select" id="prioridade">
                                                <option value="1" {% if solicitacao.prioridade == 1 %} selected {% endif %}>Normal</option>
                                                <option value="2"  {% if solicitacao.prioridade == 2 %} selected {% endif %}>Urgente</option>

                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label for="solicitacaotext" class="form-label">Briefing</label>
                                                <textarea class="summernote"  id="solicitacaotext" name="solicitacaotext"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                            
                                                <button onclick="show_devolve_solicitacao()" style="width: 100%;" type="button" class="btn btn-soft-danger rounded-pill"> <i class="ri-corner-up-left-fill"></i> Devolver Solicitação</button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                            
                                                <button onclick="alteraSolicitacao('{{solicitacao.id}}')" style="width: 100%;" type="button" class="btn btn-soft-success rounded-pill"> <i class="ri-pencil-fill"></i> Alterar Solicitação</button>
                                            </div>
                                        </div>

                                        <div class="col-12" id="motivo_devolucao" style="display: none;">
                                            <div class="mb-3">
                                                <label for="solicitacaotext" class="form-label">Informe o Motivo da Devolução:</label>
                                                <textarea class="summernote"  id="motivo_devolucao_text" name="motivo_devolucao_text"></textarea>
                                                <button onclick="devolveSolicitacao('{{solicitacao.id}}')" style="width: 100%;" type="button" class="btn btn-soft-danger rounded-pill mt-2"> <i class="ri-corner-up-left-fill"></i> Confirmar Devolução</button>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>

                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#home-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                            Comentários
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#profile-b1" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
                            Arquivos
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="home-b1">
                        <textarea class="form-control mb-2" placeholder="Escreva seu comentário" id="example-textarea" rows="3"></textarea>
                        <div class="text-end">
                            <div class="btn-group mb-2 d-none d-sm-inline-block">
                                <button type="button" class="btn btn-link btn-sm text-muted fs-18"><i class="ri-attachment-2"></i></button>
                            </div>
                            <div class="btn-group mb-2 d-none d-sm-inline-block">
                                <button type="button" class="btn btn-primary btn-sm">Comentar</button>
                            </div>
                        </div>

                        <div class="d-flex mt-2">
                            <img class="me-3 avatar-sm rounded-circle" src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Generic placeholder image">
                            <div class="w-100">
                                <h5 class="mt-0">Jeremy Tomlinson</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                vulputate at, tempus viverra turpis.

                            </div>
                            
                        </div>
                        <hr>
                        
                        <div class="d-flex mt-2">
                            <img class="me-3 avatar-sm rounded-circle" src="{% static 'layouts/assets/images/users/avatar-2.jpg' %}" alt="Generic placeholder image">
                            <div class="w-100">
                                <h5 class="mt-0">Jeremy Tomlinson</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                vulputate at, tempus viverra turpis.

                            </div>
                            
                        </div>

                    </div>
                    <div class="tab-pane" id="profile-b1">
                        <div class="card mb-1 shadow-none border">
                            <div class="p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar-sm">
                                            <span class="avatar-title rounded">
                                                .ZIP
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col ps-0">
                                        <a href="javascript:void(0);" class="text-muted fw-bold">-admin-design.zip</a>
                                        <p class="mb-0">2.3 MB</p>
                                    </div>
                                    <div class="col-auto">
                    
                                        <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-1 shadow-none border">
                            <div class="p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <img src="{% static 'layouts/assets/images/small/small-1.jpg' %}" class="avatar-sm rounded" alt="file-image" />
                                    </div>
                                    <div class="col ps-0">
                                        <a href="javascript:void(0);" class="text-muted fw-bold">Dashboard-design.jpg</a>
                                        <p class="mb-0">3.25 MB</p>
                                    </div>
                                    <div class="col-auto">
                           
                                        <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-0 shadow-none border">
                            <div class="p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar-sm">
                                            <span class="avatar-title bg-secondary rounded">
                                                .MP4
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col ps-0">
                                        <a href="javascript:void(0);" class="text-muted fw-bold">Admin-bug-report.mp4</a>
                                        <p class="mb-0">7.05 MB</p>
                                    </div>
                                    <div class="col-auto">
                              
                                        <a href="javascript:void(0);" class="btn btn-link btn-lg text-muted">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

            </div> 
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>



function devolveSolicitacao(solicitacaoID){
    var XCSRFToken = '{{ csrf_token }}';
    var motivo = document.getElementById('motivo_devolucao_text').value;
    console.log(solicitacaoID)
    
    Swal.fire({
        title: 'Devolver Solicitação',
        text: 'Deseja realmente devolver esta solicitação?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/devolve-solicitacao";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoID,'motivo':motivo},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Solicitação Devolvida!',
                        text: "A solicitação foi devolvida com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function show_devolve_solicitacao(){
    var elemento = document.getElementById("motivo_devolucao");
    elemento.style.display = 'block';
}

function alteraSolicitacao(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    var prazo = document.getElementById('prazo_entrega_edit').value;
    var briefing = document.getElementById('solicitacaotext').value;
    var prioridade = document.getElementById('prioridade').value;
    
    Swal.fire({
        title: 'Alterar Solicitação',
        text: 'Deseja realmente alterar esta solicitação? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/altera-solicitacao";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoId,'prazo':prazo,'briefing':briefing,'prioridade':prioridade},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Solicitação Alterada!',
                        text: "Alteração realizada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            location.reload();
                           
                           
                        }
                    });                                                                                                                                                                            
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function designarPessoa(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    var peca = document.getElementById('select2_peca_design').value;
    var prioridade = document.getElementById('select2_prioridade').value;
    var usuario = document.getElementById('select2_usuario').value;
    
    Swal.fire({
        title: 'Designar Usuário',
        text: 'Deseja realmente designar este usuário a esta peça? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/designar-usuario";

           
            
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoId,'peca':peca,'usuario_id':usuario,'prioridade':prioridade},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Peça Cadastrada!',
                        text: "Peça cadastrada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            $("#tbl_designacoes").html(data);
                           
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}

function cadastrarPeca(solicitacaoId){
    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Cadastrar Peça',
        text: 'Deseja realmente cadastrar esta peça? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/cadastrar-peca";

            var peca = document.getElementById('cadpecas').value;
            console.log(peca)
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: {'solicitacao_id':solicitacaoId,'peca':peca},
                headers: { "X-CSRFToken": XCSRFToken },
                success: function (data) {
                    console.log(data)
                    Swal.fire({
                        icon: 'success',
                        title: 'Peça Cadastrada!',
                        text: "Peça cadastrada com sucesso!",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            $("#tbl_pecas").html(data);
                            peca = ""

                            modalTaskView(solicitacaoId);
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}


function concluirDemanda(demandaId,formulario,files){

    var XCSRFToken = '{{ csrf_token }}';
    Swal.fire({
        title: 'Realizar Entrega?',
        text: 'Deseja realmente realizar esta entrega? ',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sim',
        cancelButtonText: 'Não'
    }).then((result) => {
        if (result.isConfirmed) {
            const url = "/ajax/concluir-demanda";
            var form = document.getElementById(formulario);
            var formData = new FormData(form); 
            formData.append('demandaId', demandaId);
            var fileInput = document.getElementById(files);
            
            if (fileInput){
            for (var i = 0; i < fileInput.files.length; i++) {
                console.log(fileInput.files[i])
                formData.append('files[]', fileInput.files[i]);
            }
            }
            // Use a função $.ajax do jQuery para fazer a solicitação AJAX
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                headers: { "X-CSRFToken": XCSRFToken },
                processData: false,  // Não processar os dados (o FormData já cuida disso)
                contentType: false,  // Não definir o tipo de conteúdo (o FormData já cuida disso)
                success: function (data) {
          
                    Swal.fire({
                        icon: 'success',
                        title: 'Demanda Entregue!',
                        text: "Sua demanda foi entregue e já está em aprovação pelo administrador.",
                    }).then((result) => {
                        // Ação a ser realizada após o botão "OK" ser clicado
                        if (result.isConfirmed) {
                            window.location.href = 'meus-jobs';
                           
                        }
                    });
                },
                error: function (data) {
                    console.log(data)
                    if (data.responseJSON && data.responseJSON.error_message) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops!',
                            text: data.responseJSON.error_message
                        });
                    }
                }
            });
        }
    });
}


$(document).ready(function() {

  $("#select2_peca_design").select2({
    dropdownParent: $("#task-detail-modal")
  });
  $("#select2_usuario").select2({
    dropdownParent: $("#task-detail-modal")
  });
  $("#select2_prioridade").select2({
    dropdownParent: $("#task-detail-modal")
  });

  $('.summernote').summernote(
    {
  toolbar: [
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['para', ['ul', 'ol']],

    // Outras opções de toolbar que você deseja incluir, mas sem 'link'
  ],
  // Outras configurações necessárias para o seu uso
}
  );
  var briefing = `{{solicitacao.briefing|safe}}`
  $('#solicitacaotext').summernote('code', briefing);
});


</script>