{% extends 'menu.html' %}
{% load static %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">     
                        <h4 class="page-title">Timeline</h4>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/solicitacoes">Solicitações</a></li>
                            <li class="breadcrumb-item"><a href="#">Timeline</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="timeline" dir="ltr">

                        <div class="timeline-show mb-3 text-center">
                            <h5 class="m-0 time-show-name">Final</h5>
                        </div>


                        <div class="timeline-lg-item timeline-item-left">
                            <div class="timeline-desk">
                                <div class="timeline-box">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon bg-warning-subtle"><i class="ri-record-circle-fill text-warning"></i></span>
                                    <h4 class="mt-0 mb-1 fs-16">Logo EFG EaD</h4>
                                    <p class="text-muted"><small>14/11/2023 ás 17:00</small></p>
                                    <p>Hérica finalizou a demanda </p>
                                    <div>
                                        <h5 class="mt-1 fs-14 mb-0">
                                            <img src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Arya S" class="rounded-circle me-2" height="24"> Hérica <small>- Cordenador COTEC</small>
                                        </h5>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="timeline-lg-item timeline-item-right">
                            <div class="timeline-desk">
                                <div class="timeline-box">
                                    <span class="arrow"></span>
                                    <span class="timeline-icon bg-success-subtle"><i class="ri-record-circle-fill text-success"></i></span>
                                    <h4 class="mt-0 mb-1 fs-16">Logo EFG EaD</h4>
                                    <p class="text-muted"><small>14/11/2023 ás 16:00</small></p>
                                    <p>Janaína designou Hérica a realizar uma nova demanda</p>
                                    <div>
                                        <h5 class="mt-1 fs-14 mb-0">
                                            <img src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Arya S" class="rounded-circle me-2" height="24"> Janaína <small>- Gerente de Comunicação</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-lg-item timeline-item-left">
                            <div class="timeline-desk">
                                <div class="timeline-box">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon bg-primary-subtle"><i class="ri-record-circle-fill text-primary"></i></span>
                                    <h4 class="mt-0 mb-1 fs-16">Logo EFG EaD</h4>
                                    <p class="text-muted"><small>14/11/2023 ás 14:00</small></p>
                                    <p>Janaína aprovou o material</p>

                                        <div>
                                            <h5 class="mt-1 fs-14 mb-0">
                                                <img src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Arya S" class="rounded-circle me-2" height="24"> Janaína <small>- Gerente de Comunicação</small>
                                            </h5>
                                        </div>
                                </div>
                            </div>
                        </div>

        

                        <div class="timeline-lg-item timeline-item-right">
                            <div class="timeline-desk">
                                <div class="timeline-box">
                                    <span class="arrow"></span>
                                    <span class="timeline-icon bg-danger-subtle"><i class="ri-record-circle-fill text-danger"></i></span>
                                    <h4 class="mt-0 mb-1 fs-16">Logo EFG EaD</h4>
                                    <p class="text-muted"><small>14/11/2023 ás 13:55</small></p>
                                    <p>Hérica anexou arquivos na demanda.</p>
                                    <div>
                                        <h5 class="mt-1 fs-14 mb-0">
                                            <img src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Arya S" class="rounded-circle me-2" height="24"> Hérica <small>- Cordenador COTEC</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline-lg-item timeline-item-left">
                            <div class="timeline-desk">
                                <div class="timeline-box">
                                    <span class="arrow-alt"></span>
                                    <span class="timeline-icon bg-info-subtle"><i class="ri-record-circle-fill text-info"></i></span>
                                    <h4 class="mt-0 mb-1 fs-16">Logo EFG EaD</h4>
                                    <p class="text-muted"><small>14/11/2023 ás 11:55</small></p>
                                    <p>Raquel designou Hérica em uma nova demanda</p>
                              
                                       
                                        <div>
                                            <h5 class="mt-1 fs-14 mb-0">
                                                <img src="{% static 'layouts/assets/images/users/avatar-3.jpg' %}" alt="Arya S" class="rounded-circle me-2" height="24"> Raquel <small>- Cordenador EFG</small>
                                            </h5>
                                        </div>
                              

                                </div>
                            </div>
                        </div>
                        <div class="timeline-show mb-3 text-center">
                            <h5 class="m-0 time-show-name">Início</h5>
                        </div>
                    </div>
                    <!-- end timeline -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © CETT - Comunicação
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
{% endblock %}