<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body p-4">
            <div class="text-center">
                <i class="ri-folder-4-fill h1 text-warning"></i>
                <h4 class="mt-2">Demandas Entregues</h4>
                {% for entrega in entregas %}
                <div class="accordion mb-2" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{forloop.counter}}"
                                aria-expanded="true" aria-controls="collapseOne">
                               {{entrega.demanda.peca.titulo}}  
                            </button>
                        </h2>
                        <div id="collapseOne{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                    
                                    <div class="alert alert-primary" role="alert" style="text-align: left;">
                                       <span>{{ entrega.demanda.descricao_entrega|safe }}
                                    </span>
                                    </div>
        
                                    {% if entrega.file_demandas %}
                                    <div class="card border-primary border">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Arquivos Anexados</h5>
                                            
                                            <div class="row">
                                                {% for arquivo in entrega.file_demandas %}
                                                <div class="col-12">
                                                    <div class="mb-3">
                                                        <a style="width: 100%;" href="{{arquivo.rota}}" class="btn btn-soft-secondary">
                                                            <i class="ri-file-fill"></i><br>{{ arquivo.rota|cut:"/media/" }}
                                                        </a>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                               
                                            </div>
                                        </div> <!-- end card-body-->
                                    </div>
                                    
                                    {% endif %}
                            
                             
                            </div>
                        </div>
                    </div>

         
                </div>
               
                {% endfor %}
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->